body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.email {
    font-weight: bold;
    font-size: larger;
    color: gray;
}
